# Бинарные файлы C++
*.exe
*.obj
*.pdb
*.ilk
*.exp
*.lib

# Python
__pycache__/
*.pyc

# VS Code / Visual Studio
.vscode/
.vs/

# Временные
*.tmp
*~
#Тяжелые файлы
lab1/input/matrix_a.txt
lab1/input/matrix_b.txt
lab1/output/result.txt
lab1/output/info.txt